<h1>Editing activity_area</h1>

<% form_for(@activity_area) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @activity_area %> |
<%= link_to 'Back', activity_areas_path %>
