<div id="main">
  <div id="posts">
    <%= render :partial => "questions/question_header", :locals => { :question => @question } %>
    <%= render :partial => "questions/question_body", :locals => { :question => @question } %>
    <h4><%= t(:all_answers) %>:</h4>
    <div class="answers" id="answers_for_question_<%=@question.id %>">
      <%= render :partial => "answers/answer", :collection => @question.sorted_answers, :locals => {:long => :long} %>
    </div>

    <div id="add_answer_link_for_question_<%= @question.id %>">
      <%= link_to_remote t(:new_answer),
        {:url => new_question_answer_path(@question.id), 
        :method => :get},
        :href => new_question_answer_path(@question.id)
      %>
    </div>

    <div class="comment_form" id="new_answer_form_for_question_<%= @question.id %>">
    </div>

  </div>

</div>

<div id="sidebar">
</div>
