<div id="comment_<%= comment.id %>">
 <%= if comment.user_id.nil? 
   t(:anonymous)
 else
 link_to comment.user.username, profile_for(comment.user) 
end %>
<%= h comment.created_at.as_lt_words %></p>
<span class="edit_link" style="float: right">
  <%= link_to_remote t(:delete), 
    :url => comment_path(comment),
    :method => :delete,
    :confirm => "Are you sure?"
  %>
</span>
<p><%= sanitize comment.body %></p>    
</div>
