<h1>Listing blog_posts</h1>

<table>
  <tr>
    <th><%=t :time %></th>
    <th><%=t :title %></th>
    <th><%=t :body %></th>
	<th></th>
  </tr>

<% for blog_post in @blog_posts %>
  <tr>
    <td><%= blog_post.created_at %></td>
    <td><%=h blog_post.title %></td>
    <td><%=h blog_post.body %></td>
    <td><%= link_to 'Show', blog_post %></td>
  </tr>
<% end %>
</table>

<br />

