<p>
  <b><%=h @blog_post.title %></b>
</p>

<p>
  <%=h @blog_post.body %>
</p>

<% unless @blog_post.comments.empty? %>
	<h4>Comments</h4>
	<% @blog_post.comments.each do |comment| %>
        <p><%=l comment.created_at, :format=> :long %>
    	<p><%= h comment.body %></p>
	<% end %>
<% end %>

<h4><%= t :new_comment %></h4>
<%= render :partial => @comment = Comment.new, :locals => { :button_name =>'Create Comment'} %>

<%= link_to 'Back', blog_posts_path %>
