<p>
  <b>Title:</b>
  <%=h @blog_post.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @blog_post.body %>
</p>

<% unless @blog_post.comments.empty? %>
	<h3>Comments</h3>
	<% @blog_post.comments.each do |comment| %>
			<p><%= Locale.set("lt") 
			comment.created_at.localize("%Y %B %d") %>
	<p><%= h comment.body %></p>
	<% end %>
<% end %>

<h3>New Comment</h3>
<%= render :partial => @comment = Comment.new, :locals => { :button_name =>'Create'} %>

<%= link_to 'Back', blog_posts_path %>
