<h1>Editing user</h1>

<%= error_messages_for :user, :avatar %>

<% form_for(@user, :html => {:multipart => :true}) do |f| %>
  <p>
    <b>Username</b><br />
    <%= f.text_field :username %>
  </p>

  <p>
    <b>Password</b><br />
    <%= f.text_field :password %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <b>Avatar</b><br />
    <%= file_field_tag :avatar_file %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
