<h1><%= t(:edit_user) %></h1>

<%= error_messages_for :user, :avatar %>

<% form_for(@user, :html => {:multipart => :true}) do |f| %>
  <p>
    <b><%= f.label :username, t(:username) %></b>
    <%= f.text_field :username %>
  </p>

  <p>
    <b><%= f.label :name, t(:name) %></b>
    <%= f.text_field :name %>
  </p>

  <p>
    <b><%= f.label :surname, t(:surname) %></b>
    <%= f.text_field :surname %>
  </p>

  <p>
    <b><%= f.label :birthdate, t(:birthdate) %></b>
    <%= f.date_select :birthdate, 
                      :start_year => User::START_YEAR,
                      :end_year => Time.now.year,
                      :include_blank => true,
                      :order => [:day, :month, :year] %>
  </p>

  <p>
    <b><%= f.label :gender, t(:gender) %></b>
      <%= f.radio_button :gender, "Jis" %><%= t(:he) %>
      <%= f.radio_button :gender, "Ji" %><%= t(:she) %>
  </p>

  <p>
    <b><%= f.label :email, t(:email) %></b>
    <%= f.text_field :email %>
  </p>

  <p>
    <b><%= f.label :blog_url, t(:rss_source) %></b>
    <%= f.text_field :blog_url %>
  </p>

  <p>
    <b><%= f.label :avatar_file, t(:avatar) %></b>
    <%= file_field_tag :avatar_file %>
  </p>

  <p>
    <%= f.hidden_field :updating_user %>
    <%= f.submit t(:update) %>
  </p>
<% end %>

<%= link_to t(:back), users_path %>
<span class="span_separator">|</span>
<%= link_to t(:show), @user %> 
