<h1>Listing users</h1>

<% for user in @users %>
  <div>
    <span style="width: 100px"><%= image_tag user.avatar.public_filename(:small) unless user.avatar.blank? %></span>
    <span style="width: 100px"><%=h user.username %></span>
    <span><%=h user.password %></span>
    <span><%= link_to 'Show', user %></span>
    <span><%= link_to 'Edit', edit_user_path(user) %></span>
    <span><%= link_to 'Destroy', user, :confirm => t(:are_you_sure), :method => :delete %></span>
  </div>
<% end %>
<br />
<div>
<%= will_paginate @users %>
</div>
<br />
<%= link_to 'New user', new_user_path %>
