<h1><%= t(:users) %></h1>

<div class="paginator">
<%= will_paginate @users %>
</div>

<table>

<% for user in @users %>
    <tr>
        <td><%= avatar_for(user) %></td> 
        <td><%= link_to user.username, user_profile_path(user.username) %></td>
        <% if can? :destroy, user %> 
        <td><%= link_to t(:destroy), user, :confirm => t(:are_you_sure), :method => :delete %></td>
        <% end %>
    </tr>
<% end %>

</table>
<br />

<div class="paginator">
<%= will_paginate @users %>
</div>
