<p>
  <b><%= t(:username) %>:</b>
  <%=h @user.username %>
</p>

<p>
  <b><%= t(:password) %>:</b>
  <%=h @user.password %>
</p>

<p>
  <b><%= t(:email) %>:</b>
  <%=h @user.email %>
</p>

<p>
  <b><%= t(:blog) %>:</b>
  <%= link_to @user.blog_url, user_posts_path(@user) %>
</p>

<p>
  <b><%= t(:avatar) %></b>
  <%= image_tag(@user.avatar.public_filename) if @user.avatar %>
</p>

<p>
  <b><%= t(:studies) %>:</b>
    <span id="add_activity_link">
      <%= link_to_remote t(:new_entry),
        {:url => new_user_activity_path(@user), 
        :method => :get},
        :href => new_user_activity_path(@user)
      %>
    </span>
    <div id="add_activity_form"> </div>
    <div id="activities_for_user">
      <%= render :partial => "activities/activity", :collection => @user.activities %>
    </div>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
