<div id="admin_functions">
  <p>
    <%=button_to t(:start_updating_feeds), {:action => :start_feed_updating}, :disabled => FeedUpdater.check_if_bgprocess_running %>
    <%=button_to t(:stop_updating_feeds), {:action => :stop_feed_updating}, :disabled => !FeedUpdater.check_if_bgprocess_running %>
  </p>
</div>
<p>
  <b><%= t(:username) %>:</b>
  <%=h @user.username %> 
  <% if logged_in? %>
  <%= link_to "(" + t(:add_as_friend) + ")", friendships_path(:friend_id => @user), :method => :post unless  @user == current_user || current_user.friendships.find_by_friend_id(@user) %> 
  <% end %>
</p>

<p>
  <b><%= t(:email) %>:</b>
  <%=h @user.email %>
</p>

<p>
  <b><%= t(:blog) %>:</b>
  <%= link_to @user.blog_url, blog_path(@user.username) %>
</p>

<p>
  <b><%= t(:avatar) %></b>
  <%= image_tag(@user.avatar.public_filename) if @user.avatar %>
</p>

<div class="profile_block">
  <b><%= t(:studies) %>:</b>
    <span id="add_activity_link">
      <%= link_to_remote t(:new_entry),
        {:url => new_user_activity_path(@user), 
        :method => :get},
        :href => new_user_activity_path(@user)
      %>
    </span>
    <div id="add_activity_form"> </div>
    <div id="activities_for_user">
      <%= render :partial => "activities/activity", :collection => @user.activities %>
    </div>
</div>

<div class="profile_block">
  <b><%= t(:friends) + " (" + @user.friendships.size.to_s + ")" %>:</b>
  <ul>
    <% for friendship in @user.friendships %>
        <li>
            <%= profile_for(friendship.friend.username) %>
            (<%= link_to t(:remove_friend), friendship, :method => :delete %>)
        </li>
    <% end %>
  </ul>
</div>

<div class="profile_block">
  <b><%= t(:friend_of) + " (" + @user.inverse_friends.size.to_s + ")" %>:</b>
  <ul>
    <% for user in @user.inverse_friends %>
        <li>
            <%= profile_for(friendship.friend.username) %>
        </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
