<div class="spacer"></div>

<% unless @user.avatar.nil? %>
  <div class="profile_block">
    <%= image_tag(@user.avatar.public_filename) if @user.avatar %>
  </div>
<% end %>

<div class="profile_block">
  <b><%= t(:username) %>:</b>
  <%=h @user.username %> 
  <% if current_user %>
  <%= link_to "(" + t(:add_as_friend) + ")", friendships_path(:friend_id => @user), :method => :post unless  @user == current_user || current_user.friendships.find_by_friend_id(@user) %> 
  <% end %>
</div>

<% hidden_div_if(@user.try(:name_surname).nil?, :class => "profile_block") do %>
  <b><%= t(:name_surname) %>:</b>
  <%=h @user.name_surname %>
<% end %>

<% hidden_div_if(@user.birthdate.nil?, :class => "profile_block") do %>
  <b><%= t(:birthdate) %>:</b>
  <%=h @user.birthdate %> 
<% end %>

<% hidden_div_if(@user.gender.nil?, :class => "profile_block") do %>
  <b><%= t(:gender) %>:</b>
  <%=h @user.gender %> 
<% end %>

<% if @user == current_user %>
  <div class="profile_block">
    <b><%= t(:email) %>:</b>
    <%=h @user.email %>
    <br />
    <span class="smaller"><%= t(:email_hint) %></span>
  </div>
<% end %>

<% hidden_div_if(@user.blog_url.nil?, :class => "profile_block") do %>
  <b><%= t(:external_blog) %>:</b>
  <%= link_to @user.blog_url, blog_path(@user.username) %>
<% end %>

<div class="profile_block">
  <b><%= t(:goout_blog) %>:</b>
  <%= link_to blog_path(@user.username), blog_path(@user.username) %>
</div>

  <b><%= t(:studies) %>:</b>
    <% if can? :update, @user %>
      <span id="add_activity_link">
        <%= link_to_remote t(:new_entry),
          {:url => new_user_activity_path(@user), 
          :method => :get},
          :href => new_user_activity_path(@user)
        %>
      </span>
    <% end %>
    <div id="add_activity_form"> </div>
  <% hidden_div_if(@user.activities.empty?, :id => "activities_for_user", :class => "profile_block") do %>
      <%= render :partial => "activities/activity", :collection => @user.activities %>
  <% end %>

<div class="profile_block">
  <b><%= t(:friends) + " (" + @user.friendships.size.to_s + ")" %>:</b>
  <% unless @user.friendships.size == 0 %>
  <ul>
    <% for friendship in @user.friendships %>
        <li>
            <%= profile_for(friendship.friend.username) %>
            (<%= link_to t(:remove_friend), friendship, :method => :delete %>)
        </li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class="profile_block">
  <b><%= t(:friend_of) + " (" + @user.inverse_friends.size.to_s + ")" %>:</b>
  <% unless @user.inverse_friends.size == 0 %>
  <ul>
    <% for user in @user.inverse_friends %>
        <li>
            <%= profile_for(user.username) %>
        </li>
    <% end %>
  </ul>
  <% end %>
</div>

<%= link_to t(:back), users_path %>
<span class="span_separator">|</span>
<% if can? :update, @user %>
  <%= link_to t(:edit), edit_user_path(@user) %>
<% end %>
