<h1>Listing revisions</h1>

<table>

<% @revisions.each do |revision| %>
  <tr>
    <td><%=h revision.author.username %></td>
    <td><%=h revision.concept.title %></td>
    <td><%=h revision.content %></td>
    <td><%= link_to 'Show', concept_revision_path(revision.concept) %></td>
    <td><%= link_to 'Edit', edit_concept_revision_path(revision.concept, revision) %></td>
    <td><%= link_to 'Destroy', revision, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New revision', new_concept_revision_path %>
