<p>
  <b>Concept:</b>
  <%=h @revision.concept.title %>
</p>

<p>
  <b>Contents:</b>
  <%=h @revision.content %>
</p>

<p>
  <b>Author:</b>
  <%=profile_link(@revision.author) %>
</p>

<p>
  <b>Date:</b>
  <%=l @revision.created_at, :format => :long %>
</p>

<%= link_to 'Back', concept_revisions_path(@revision.concept) %>
