<% remote_form_for (@study, :url => user_studies_path) do |f| %>
  <fieldset>
    <%= error_messages_for 'study' %>
    <div id="study_type">
        <%= collection_select("study", "study_type_id", StudyType.find(:all, :order => :title), :id, :title, {:prompt => t(:select_study_type)} ) %>
    </div>
    <div id="country">
        <%= collection_select("", :country_id, Country.find(:all, :order => :title), :id, :title, 
		{:prompt   => t(:select_country)},
		{:onchange => "#{remote_function(:url  => {:action => "update_universities"},
   		 :with => "'country_id='+value")}"}  ) %>
     </div>
	<div id="universities"> </div>
    <div id="subject_area">
        <%= collection_select("", "subject_area_id", SubjectArea.find(:all, :order => :title), :id, :title, {:prompt => t(:select_subject_area) },	{:onchange => "#{remote_function(:url  => {:action => "update_study_programs"},
   		 :with => "'subject_area_id='+value")}"} ) %>
    </div>
    <div id="study_programs">
    </div>
    <div id="from">
        <%= date_select("study", "from", options = {:start_year => Time.now.year - 15} )%>
    </div>
    <div id="to">
        <%= date_select("study", "to", options = {:start_year => Time.now.year - 15} ) %>
    </div>
    <%= f.submit t(:create) %>

    <%= button_to_function t(:cancel) do |page|
        page.visual_effect :blind_up, "add_study_form"
        page.show "add_study_link"
      end %>
 </fieldset>
<% end %>
