<% remote_form_for (@study, :url => user_studies_path) do |f| %>
  <fieldset>
    <%= error_messages_for 'study' %>
    <%= select("study", "study_type_id", StudyType.find(:all).collect{ |c| [ c.title, c.id] }) %>
    <br />
    <%= collection_select(:study, :country_id, Country.all(:order => :title), :id, :title, 
		{:prompt   => t(:select_country)},
		{:onchange => "#{remote_function(:url  => {:action => "update_universities"},
   		 :with => "'country_id='+value")}"}  ) %>
	<div id="universities"> </div>
    <%= date_select("study", "from", options = {:start_year => Time.now.year - 15} )%>
    <br />
    <%= date_select("study", "to", options = {:start_year => Time.now.year - 15} ) %>
    <br />
    <%= f.submit t(:create) %>

    <%= button_to_function t(:cancel) do |page|
        page.visual_effect :blind_up, "new_study_form"
        page.show "add_study_link"
      end %>
 </fieldset>
<% end %>
