<div id="study_<%= study.id %>" class="study">
  <div><%= study.study_type.title unless study.study_type.blank? %></div>
  <span><%= study.from %></span> - <span><%= study.to %></span>
  <div><%= study.university.title unless study.university.blank? %></div>
  <br />
</div>
