<h1>Listing exchange_programs</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

<% @exchange_programs.each do |exchange_program| %>
  <tr>
    <td><%=h exchange_program.title %></td>
    <td><%= link_to 'Show', exchange_program %></td>
    <td><%= link_to 'Edit', edit_exchange_program_path(exchange_program) %></td>
    <td><%= link_to 'Destroy', exchange_program, :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exchange_program', new_exchange_program_path %>
