<h2>Login</h2>
<% form_for :user do |f| %>
  <fieldset>
    <legend>Enter Your Details</legend>
    <label for="username">Username:</label>
    <%= f.text_field :username, :size => User::USERNAME_SIZE, :maxlength => User::USERNAME_MAX_LENGTH%>
    <br />

    <label for="password">Password:</label>
    <%= f.password_field :password, :size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH %>
    <br />
    
    <label for="remember_me">Remember Me?:</label>
      <%= f.check_box :remember_me %>

    <%= submit_tag "Login", :class => "submit" %>
  </fieldset>
  <p>
    <%= link_to "Register", :action => "register" %>
  </p>
<% end %>
