<h1><%= t(:edit_concept) %></h1>

<% form_for(@concept) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, t(:title) %>
    <%= f.text_field :title, :size => 60 %>
  </p>

<%= render "revision", :current_revision => @current_revision,  :object => Revision.new %> 

  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>

<%= link_to t(:back), concepts_path %>
<span class="span_separator">|</span>
<%= link_to t(:show), concept_path(@concept.title) %> 
