<h1>Listing concepts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
  </tr>

<% @concepts.each do |concept| %>
  <tr>
    <td><%=h concept.title %></td>
    <td><%=h concept.url %></td>
    <td><%= link_to 'Show', concept %></td>
    <td><%= link_to 'Edit', edit_concept_path(concept) %></td>
    <td><%= link_to 'Destroy', concept, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New concept', new_concept_path %>