<h1><%= t(:new_page) %></h1>

<% form_for(@concept) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, t(:title) %><br />
    <%= f.text_field :title %>
  </p>

<%= render "revision", :current_revision => @current_revision,  :object => Revision.new %> 

  <p>
    <%= f.submit t(:create) %>
  </p>
<% end %>

<%= link_to t(:back), concepts_path %>
