<p>
  <b>Title:</b>
  <%=h @concept.title %>
</p>

<p>
  <b><%= t(:last_edit) %>:</b>
  <%=h @concept.revisions.last.created_at.as_lt_words unless @concept.revisions.empty? %>
</p>

<p>
  <b>Text:</b>
  <%=h @concept.revisions.last.content unless @concept.revisions.empty? %>
</p>


<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
