<h1><%=h @concept.title %></h1>

<div class="edit_history">
  <%= link_to t(:edit_history), concept_revisions_path(@concept) %> |
  <%= link_to t(:edit), edit_concept_path(@concept) %> |
  <%= t(:last_edit) %>:
  <%= profile_for(@author) %>,
  <%=h @concept.revisions.last.created_at.as_lt_words unless @concept.revisions.empty? %>
</div>

<div class="wiki_content">
  <%= @renderer.display_content unless @concept.revisions.empty? %>
</div>


<%= link_to t(:back), concepts_path %>
