<div class="paginator">
<%= will_paginate @posts %>
</div>

<div id="posts">
<% for post in @posts %>
  <%= render :partial => "posts/post_header", :locals => { :post => post } %>
  <div class="blog_post_body">
    <span class="post_body"><%=post.body %></span>
  </div>
<% end %>

  <div class="paginator">
  <%= will_paginate @posts %>
  </div>

</div>

<div id="tag_cloud">
  <%= render :partial => "posts/tag_cloud" %>
</div>
