<div id="main">
  <h1><%= t(:start_page) %></h1>
  <%= @content.content %>
</div>


<div id="sidebar">
  <h3 class="ask_question"><%= t(:ask_question) %></h3>
  <%= link_to t(:all_questions), questions_path %>
    <%= render :partial => "questions/form" %>
  <div id="questions">
    <%= render :partial => "questions/question", :collection => Question.find(:all, :order => "created_at DESC", :limit => 5), :locals => {:long => false} %>
  </div>
</div>
