<table>
  <tr>
    <th><%= @country.title %></th>
  </tr>

<% @country.organizations.each do |university| %>
  <tr>
    <td><%=h university.title %></td>
    <td><%= link_to 'Show', university %></td>
    <td><%= link_to 'Edit', edit_country_path(university) %></td>
    <td><%= link_to 'Destroy', university , :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>



<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
