<% form_for(@post, :url => url_path) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title, t(:title) %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :tag_list, t(:tag_list) %>
    <%= f.text_field :tag_list %>
  </p>
  <p>
  <%= f.label :body, t(:entry) %>
  <%= f.text_area :body, :rows => 30, :cols =>80 %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>
