<%= stylesheet_link_tag 'markitup.css' %>
<%= stylesheet_link_tag 'markitup/sets/style.css' %>
<%= javascript_include_tag 'jquery-1.3.2.min.js' %>
<%= javascript_include_tag 'markitup/jquery.markitup.pack.js' %>
<%= javascript_include_tag 'markitup/sets/default/set.js' %>

<script type="text/javascript">
<!--
$(document).ready(function(){
  $('#post_body').markItUp(mySettings);
});
-->
</script>

<h1><%= t(:edit_post, :title => @post.title) %></h1>

<%= render :partial => "form", :locals => {:button_name => t(:update), :url_path => {:controller => "posts", :action => "update"}} %>

<%= link_to t(:show), post_url(@post.user.username, @post) %> 
<span class="span_separator">|</span>
<%= link_to t(:back), blog_url(@post.user.username) %>
