<h1>Listing posts</h1>

<table>

<% @posts.each do |post| %>
  <tr>
    <td colspan="2">
      <b><%=h post.title %></b>
      <%= l post.created_at %>
    </td>
  </tr>
  <% unless post.tag_list.size == 0 %>
  <tr>
    <td colspan="2">
      <b><%= t(:tags) %></b>: 
        <% post.tag_list.each do |tag| %>
        <%= link_to tag, user_posts_url(post.user) %>
        <% end %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td><%=h post.body %></td>
    <td>
      <%= link_to 'Edit', edit_user_post_path(post.user, post) %>
      <%= link_to 'Destroy', user_post_path(post.user, post), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= link_to t(:comments) + ": " + post.comments.size.to_s, user_post_path(post.user, post) %> <%=  %>
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
<% end %>
</table>

<br />
<%=
#  render :partial => "post", :collection => @posts 
%>
<%= link_to 'New post', new_user_post_path %>
