<h1>Listing posts</h1>

<%- cache "my_blog", (Time.now + 60.minutes) do -%>
<%- end -%>
<table>
  <tr>
    <td width="80%">
      <table>
<% @posts_and_xml.each do |post| %>
  <tr>
    <td colspan="2">
      <% if post.link %>
        <%=image_tag('feed-icon-14x14.png', :alt=>"test") %>
        <b><%= link_to post.title, post.link %></b> 
        <% else %>
          <b><%=h post.title %></b>
        <% end %>
          <br />
      <span class="postDate"><%= l post.date, :format => :long %></span>
    </td>
  </tr>
  <% if !post.link %>
    <% unless post.tag_list.size == 0 %>
  <tr>
    <td colspan="2">
      <%= render :partial => "tag_list", :locals => {:post => post} %> 
    </td>
  </tr>
    <% end %>
  <% end %>
 <tr>
    <td><%= sanitize post.description %></td>
    <td>
       <% if !post.link %>
        <%= link_to 'Edit', edit_user_post_path(post.user, post) %>
        <%= link_to 'Destroy', user_post_path(post.user, post), :confirm => t(:are_you_sure), :method => :delete %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <% if !post.link %>
        <%= link_to t(:comments) + ": " + post.comments.size.to_s, user_post_path(post.user, post) %> <%=  %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr> 
<% end %>
  

      </table>
    </td>

<td width="20%" valign="top">
  <%= render :partial => "tag_cloud" %>
</td>
  </tr>
</table>

<br />
<%=
#  render :partial => "post", :collection => @posts 
%>
<%= link_to 'New post', new_user_post_path %>
