<h1><%= @blog_title ||= t(:blog_posts, :username => @user.username) %></h1>

<div id="posts">

<%= render :partial => "new_post_link" %>

<% @posts.each do |post| %>

  <%= render :partial => "post_header", :locals => { :post => post } %>

  <div id="blog_post_<%= post.id %>" class="blog_post_body">
    <%= post.content.sanitize %>
    <div>
      <%= link_to t(:comments) + ": " + post.comments.size.to_s, user_post_path(post.user_id, post) %> <%=  %>
    </div>
  </div>

<% end %>

<%= render :partial => "new_post_link" %>

</div>

<div id="tag_cloud">
  <%= render :partial => "tag_cloud" %>
</div>
