<p>
  <b><%=h @post.title %></b>
</p>

<p>
  <%=h @post.body %>
</p>

<p>
  <b><%= t(:comments) %>:</b>
  <span id="comments_number_for_post_<%= @post.id %>"><%=h @post.comments.size %></span>
</p>

<div id="comments_for_post_<%= @post.id %>">

   <%= render :partial => "comments/comment", :collection => @post.comments %>

</div>

<div id="add_comment_link_for_post_<%= @post.id %>">
  <%= link_to_remote t(:new_comment),
    {:url => new_post_comment_path(@post.id), 
    :method => :get},
    :href => new_post_comment_path(@post)
  %>
</div>

<div id="new_comment_form_for_post_<%= @post.id %>"></div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', url_for(:back) %>
