<p>
  <b>Blog:</b>
  <%=
 #   h @post.blog_id 
  %>
</p>

<p>
  <b><%=h @post.title %></b>
</p>

<p>
  <%=h @post.body %>
</p>

<% unless @post.comments.empty? %>
  <p>
  <b><%= t(:comments) %>:</b> <%=h @post.comments.size %>
  </p>
    <% @post.comments.each do |comment| %>
      <p>
        <%= if comment.user_id.nil? 
            @anonymous
          else
            link_to comment.user.username, profile_for(comment.user) 
          end %>
      <%= h comment.created_at.as_lt_words %></p>
      <p><%= h comment.body %></p>    
      <br />
  <% end %>
<% end %>

<h3><%= t(:new_comment) %></h3>
<%= render :partial => @comment = Comment.new, :locals => {:button_name => 'Create'} %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', url_for(:back) %>
