<div id="posts">


  <div class="blog_post_body">
    <%= @post.content.sanitize %>
  </div>

<p>
  <b><%= t(:comments) %>:</b>
  <span id="comments_number_for_post_<%= @post.id %>"><%=h @post.comments.size %></span>
</p>

<div class="comments" id="comments_for_post_<%= @post.id %>">

   <%= render :partial => "comments/comment", :collection => @post.comments.find(:all, :conditions => {:in_reply_to_id => nil}) %>

</div>

<div id="add_comment_link_for_post_<%= @post.id %>">
  <%= link_to_remote t(:new_post_comment),
    {:url => new_user_post_comment_path(@post.user_id, @post), 
    :method => :get},
    :href => new_user_post_comment_path(@post.user_id, @post)
  %>
</div>

<div id="new_comment_form_for_post_<%= @post.id %>"></div>

<%= link_to t(:back), blog_path(@post.user.username) %>

</div>
