<p>
  <b>Blog:</b>
  <%=
 #   h @post.blog_id 
  %>
</p>

<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @post.body %>
</p>

<p>
  <b>Comments:</b>
  <%=h @post.comments.size %>
</p>
<% unless @post.comments.empty? %>
    <% @post.comments.each do |comment| %>
      <p><%= h comment.body %></p>    
  <% end %>
<% end %>

<h3>New Comment</h3>
<%= render :partial => @comment = Comment.new, :locals => {:button_name => 'Create'} %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', url_for(:back) %>
