<p>
  <h3><%=h @post.title %></h3>
</p>
<p>
  <b><%= t(:tags) %></b>: <%=h @post.tag_list %>
</p>
<p>
  <%=h @post.body %>
</p>

<p>
  <b><%= t(:comments) %>:</b>
  <span id="comments_number_for_post_<%= @post.id %>"><%=h @post.comments.size %></span>
</p>

<div id="comments_for_post_<%= @post.id %>">

   <%= render :partial => "comments/comment", :collection => @post.comments %>

</div>

<div id="add_comment_link_for_post_<%= @post.id %>">
  <%= link_to_remote t(:new_comment),
    {:url => new_user_post_comment_path(@post.user_id, @post), 
    :method => :get},
    :href => new_user_post_comment_path(@post.user_id, @post)
  %>
</div>

<div id="new_comment_form_for_post_<%= @post.id %>"></div>

<%= link_to 'Edit', edit_user_post_path(@post.user_id, @post) %> |
<%= link_to 'Back', url_for(:back) %>
