<h1>Listing study_programs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Subject area</th>
  </tr>

<% @study_programs.each do |study_program| %>
  <tr>
    <td><%=h study_program.title %></td>
    <td><%=h study_program.subject_area_id %></td>
    <td><%= link_to 'Show', subject_area_study_program_path(study_program.subject_area, study_program) %></td>
    <td><%= link_to 'Edit', edit_subject_area_study_program_path(study_program.subject_area, study_program) %></td>
    <td><%= link_to 'Destroy', subject_area_study_program_path(study_program.subject_area, study_program), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New study_program', new_subject_area_study_program_path %>
