<div id="activity_<%= activity.id %>" class="activity">
  <div><%= activity.activity_type.title unless activity.activity_type.blank? %></div>
  <span><%= activity.from %></span> - <span><%= activity.to %></span>
  <div><%= acitivity.organization.title unless activity.organization.blank? %></div>
  <br />
</div>
