<div id="activity_<%= activity.id %>" class="activity">
    <% if can? :destroy, activity %>
    <span class="delete_link" id="delete_activity_link_<%= activity.id %>" style="float: right;">
        <%= link_to_remote t(:delete), 
        :url => user_activity_path(current_user, activity.id),
        :method => :delete,
        :confirm => t(:are_you_sure) %>
    </span>
    <% end %>
  <div><%=  activity.country.title unless activity.country.blank? %></div>
  <div><%= t( activity.type.downcase ) unless activity.type.blank? %> <%= "- " + activity.exchange_program.title unless activity.exchange_program.blank? if activity.type == 'ExchangeStudy' %></div>
  <span><%= activity.from %></span> - <span><%= activity.current ? t(:current) : activity.to %></span>
  <div><%=  activity.organization.title unless activity.organization.blank? %></div>
  <div><%= activity.activity_area.title unless activity.activity_area.blank? if activity.type == 'Internship' %></div>
  <div><%= activity.study_program.title unless activity.study_program.blank? if (activity.type == 'FullStudy' || activity.type == 'ExchangeStudy' )%></div>
  <br />
</div>
