<% remote_form_for (@activity, :url => user_activities_path) do |f| %>
  <fieldset>
    <%= error_messages_for 'activity' %>
    <div id="activity_type">
        <%= f.label ("my_type", t(:activity_type)) %>
        <%= select_tag "my_type", options_for_select([[t(:full_study), "full_study"], [t(:exchange_study), "exchange_study"], [t(:internship), "internship"]] ),
        {:style => "width: 400px;", :onchange => "#{remote_function(:url  => {:action => "update_fields"},
   		 :with => "'activity_type='+value")}"}   %>
    </div>
    <div id="exchange_program" style="display: none" ></div>
    <div id="country">
        <%= f.label ("activity_country_id", t(:country)) %>
        <%= collection_select(:activity, :country_id, Country.find(:all, :order => :title), :id, :title, 
        {:prompt   => t(:select_country)},
        {:style => "width: 400px;", :onchange => "#{remote_function(:url  => {:action => "update_organizations"},
         :with => "'country_id='+value")}"}  ) %>
      <span id="add_country_link">
          <%= link_to t(:create_new_country), new_country_path ,:class => 'lbOn' %>
      </span>
     </div>
    <div id="organization">
        <%= f.label ("", t(:organization_name)) %>
        <%= select_tag "", options_for_select([t(:select_country_first), ""]), {:style => "width: 400px;", :disabled => true} %>
    </div>
    <span id="study_info">
        <div id="subject_area">
                <%= f.label ("subject_area_id", t(:subject_area)) %>
                <%= collection_select("", "subject_area_id", SubjectArea.find(:all, :order => :title), :id, :title, 
                {:prompt => t(:select_subject_area) },
                {:style => "width: 400px;", :onchange => "#{remote_function(:url  => {:action => "update_study_programs"},
                 :with => "'subject_area_id='+value")}"} ) %>
        </div>         
        <div id="study_program">
            <%= f.label ("", t(:study_program)) %>
            <%= select_tag "", options_for_select([t(:select_subject_area_first), ""]), {:disabled => true, :style => "width: 400px" } %>
        </div>
    </span>

    <div id="activity_area" style="display: none"> </div>

    <div id="from">
        <%= f.label ("activity_from", t(:from)) %>
        <%= date_select("activity", "from", options = {:start_year => Time.now.year - 15} )%>
    </div>
    <div id="current">
        <%= f.label ("activity_current", t(:current)) %>
        <%= check_box("activity", "current", {:onchange => "$('to_date').toggle();"}) %></span>
    </div>
    <div id="to_date">
        <%= f.label ("activity_to", t(:to)) %>
        <%= date_select("activity", "to", options = {:start_year => Time.now.year - 15} ) %> 
    </div>
    <%= f.submit t(:create) %>

    <%= button_to_function t(:cancel) do |page|
        page.visual_effect :blind_up, "add_activity_form"
        page.show "add_activity_link"
      end %>
 </fieldset>
<% end %>
