<% remote_form_for (@activity, :url => user_activities_path) do |f| %>
  <fieldset>
    <%= error_messages_for 'activity' %>
    <div id="activity_type">
        <%= select_tag "my_type", options_for_select([[t(:full_study), "full_study"], [t(:exchange_study), "exchange_study"], [t(:internship), "internship"]] ),
        {:onchange => "#{remote_function(:url  => {:action => "update_fields"},
   		 :with => "'activity_type='+value")}"}   %>
    </div>
    <div id="country">
        <%= collection_select("", :country_id, Country.find(:all, :order => :title), :id, :title, 
        {:prompt   => t(:select_country)},
        {:onchange => "#{remote_function(:url  => {:action => "update_organizations"},
         :with => "'country_id='+value")}"}  ) %>
     </div>

    <div id="variable_part">
        <div id="full_study">
            <div id="organization"><%= select_tag "", options_for_select([t(:select_country_first), ""]), :disabled => true %></div>
            <div id="subject_area">
                <%= collection_select("", "subject_area_id", SubjectArea.find(:all, :order => :title), :id, :title, 
                {:prompt => t(:select_subject_area) },
                {:onchange => "#{remote_function(:url  => {:action => "update_study_programs"},
                 :with => "'subject_area_id='+value")}"} ) %>
            <div id="study_program"> <%= select_tag "", options_for_select([t(:select_subject_area_first), ""]), :disabled => true %></div>
            </div>
        </div>
        <div id="exchange_study" style="display: none">
            <div id="exchange_program"></div>
            <div id="organization"></div>
            <div id="study_program"> </div>
            <div id="subject_area">
                <%= collection_select("", "subject_area_id", SubjectArea.find(:all, :order => :title), :id, :title, 
                {:prompt => t(:select_subject_area) },
                {:onchange => "#{remote_function(:url  => {:action => "update_study_programs"},
                 :with => "'subject_area_id='+value")}"} ) %>
            </div>
        </div>
        <div id="internship" style="display: none">
            <div id="organization"></div>
            <div id="activity_area"> </div>
        </div>
    </div>
    <div id="from">
        <%= date_select("activity", "from", options = {:start_year => Time.now.year - 15} )%>
    </div>
    <div id="to">
        <%= date_select("activity", "to", options = {:start_year => Time.now.year - 15} ) %>
    </div>
    <%= f.submit t(:create) %>

    <%= button_to_function t(:cancel) do |page|
        page.visual_effect :blind_up, "add_activity_form"
        page.show "add_activity_link"
      end %>
 </fieldset>
<% end %>
