<p>
  <b>Title:</b>
  <%=h @blog_post.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @blog_post.body %>
</p>

<% unless @blog_post.comments.empty? %>
	<h3>Comments</h3>
	<% @blog_post.comments.each do |comment| %>
	<p><%= h comment.body %></p>
	<% end %>
<% end %>

<h3>New Comment</h3>
<%= render :partial => @comment = Comment.new, :locals => { :button_name =>'Create'} %>

<%= link_to 'Comments', blog_post_comments_path(@blog_post) %>
<%= link_to 'Edit', edit_admin_blog_post_path(@blog_post) %> |
<%= link_to 'Back', admin_blog_posts_path %>
