<h2><%=t :login %></h2>

<% form_for(@user_session) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend><%=t :enter_your_details %></legend>
    <label for="username"><%=t :username %></label>
      <div class="form_row">
    <%= f.text_field :username, :size => User::USERNAME_SIZE, :maxlength => User::USERNAME_MAX_LENGTH%>
    </div>

    <label for="password"><%=t :password %></label>
    <div class="form_row">
    <%= f.password_field :password, :size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH %>
    </div>

    <label for="remember_me"><%=t :remember_me %></label>
    <div class="form_row"> 
      <%= f.check_box :remember_me %>
    </div>

  <p>
    <%= f.submit t(:login) %>
  </p>
   </fieldset>


<% end %>
