<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title><%= @title %></title>
<%= stylesheet_link_tag "site" %>
</head>
<body>
  <%= nav_link "Start page", "site" %>
  <%= nav_link "About", "site", "about"  %>
  <%= nav_link "Help", "site", "help" %> 
  <%= nav_link "Register", "user", "register" %> 
        <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
<%= yield %>

</body>
</html>

