<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title><%= @title %></title>
<%= stylesheet_link_tag "site" %>
<%= stylesheet_link_tag "profile" %>
<%= stylesheet_link_tag 'lightbox' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'lightbox' %>
</head>
<body>
  <%= nav_link t(:start_page), "site" %>
  <%= nav_link t(:users), "users" %>
  <%= nav_link t(:blogs), "blogs", "index"  %>
  <%= nav_link t(:wiki), "concepts", "index"  %>
  <%= nav_link t(:about), "site", "about"  %>
  <%= nav_link t(:help), "site", "help" %> 
  <span style="float:right">
  <% if logged_in? -%>
      <%= link_to_unless_current current_user.username, profile_path(current_user.username) %>
      <%= nav_link t(:logout), "site", "logout" %>
  <% else -%>
      <%= nav_link t(:login), "site", "login" %>
      <%= nav_link t(:do_register), "site", "register" %> 
  <% end -%>
</span>
        <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
<%= yield %>
<br clear="all">
<% if ENV["RAILS_ENV"] == "development" %>
  <a href="#" onclick="Element.toggle('params_debug_info');return false"> params</a> |
  <a href="#" onclick="Element.toggle('session_debug_info');return false"> session</a> |
  <a href="#" onclick="Element.toggle('env_debug_info');return false"> env</a> |
  <a href="#" onclick="Element.toggle('request_debug_info');return false"> request</a>
  <fieldset id="params_debug_info" class="debug_info" style="display: none">
    <legend>params</legend>
    <%= debug(params) %>
  </fieldset>
  <fieldset id="session_debug_info" class="debug_info" style="display: none">
    <legend>session</legend>
    <%= debug(session) %>
  </fieldset>
  <fieldset id="env_debug_info" class="debug_info" style="display: none">
    <legend>env</legend>
    <%= debug(request.env) %>
  </fieldset>
  <fieldset id="request_debug_info" class="debug_info" style="display: none">
    <legend>request</legend>
    <%= debug(request) %>
  </fieldset>
  
<% end %>
</body>
</html>

